.Masthead {
    // This variable contains the root element class, for
    // appending to children that are scoped within a modifier.
    // This is due to the unfortunate fact that node-sass has
    // a bug with the @at-root directive, and sass-lint explodes
    // as well. Ugh. Double whammy.
    //
    // @TODO: Refactor this to use the @at-root directive as soon
    // as a fix becomes available.
    $scoped-block-name: unquote("#{&}");
    $masthead-height: map-get($masthead, "height");
    $masthead-height-expanded: ms(4);
    $masthead-padding: map-get($masthead, "padding");
    $masthead-padding-expanded: ms(2);

    position: relative;
    transition: anim(3);
    background-color: $color-greyscale-white;
    z-index: z(8);

    &.fixedsticky {
        top: 0;
        width: 100%;
        z-index: z(5);
    }

    &-primary,
    &-secondary {
        @include container;

        @include breakpoint($bp-gamma) {
            .flexbox & {
                display: flex;
                //flex-direction: row;
                flex-wrap: nowrap;
                align-content: stretch;
                align-items: stretch;
                justify-content: flex-end;
            }
        }
    }

    &-primary {
        @include breakpoint($bp-gamma) {
            .flexbox & {
                flex-direction: row;
            }
        }
    }

    &-secondary {
        @include breakpoint($bp-gamma) {
            .flexbox & {
                flex-direction: column;
            }
        }
    }

    &-logo {
        display: block;
        position: relative;
        order: 1;
        padding: $masthead-padding;
        float: left;
        transition: anim(3);
        z-index: z(1);

        .Logo {
            height: $masthead-height;
            transition: anim(3);
        }
    }

    &-primaryNav {
        @include text-variant("-1a");
        position: relative;
        flex-grow: 1;
        order: 2;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: $masthead-padding;
        float: left;
        color: $color-greyscale-white-gainsboro;
        line-height: $masthead-height;

        @include breakpoint($bp-gamma) {
            //max-width: 65%;
            padding-top: $masthead-padding;
        }
    }

    &-searchButton {
        display: inline-block;
        order: 3;
        width: $masthead-height + ($masthead-padding * 2);
        height: $masthead-height + ($masthead-padding * 2);
        float: right;

        // @include breakpoint($bp-gamma) {
        //     padding-right: ms(4);
        // }

        .Icon {
            position: relative;
            width: ms(2);
            height: 100%;
            margin: auto;
            background-position: 50%;
            background-size: contain;
        }

        svg {
            position: absolute;
            top: 50%;
            transform: translatey(-50%);

            * {
                transition: fill anim(3);
            }
        }

        &:hover,
        &.is-active {
            svg {
                * {
                    fill: $color-brand-yellow-buttercup;
                }
            }
        }
    }

    &-primaryNav,
    &-searchButton {
        transition: anim(3);
    }

    .js.flexbox &.is-open {
        #{$scoped-block-name}-logo {
            @include breakpoint($bp-gamma) {
                padding-top: $masthead-padding-expanded;
                padding-bottom: $masthead-padding-expanded;

                .Logo {
                    height: $masthead-height-expanded;
                }
            }
        }

        #{$scoped-block-name}-primaryNav {
            line-height: $masthead-height-expanded;

            @include breakpoint($bp-gamma) {
                padding-top: $masthead-padding-expanded;
                padding-bottom: $masthead-padding-expanded;
            }
        }

        #{$scoped-block-name}-searchButton {
            @include breakpoint($bp-gamma) {
                height: $masthead-height-expanded + ($masthead-padding-expanded * 2);
            }
        }
    }
}
