{% extends "mote/element/index.html" %}
{% load mote_tags %}

{% block codeblock %}
<div class="sg-code-block">
    <h4 class="title">
        Search
    </h4>
    <div class="description">
        The Search organism exists within the masthead, and is triggered by the masthead's search icon. Its visibility is toggled via JavaScript with the <code>is-open</code> class. It has no no-js fallback, as the search icon would default to the advanced search page if JavaScript is not available.
    </div>
    <div class="code-example">
        <pre>
            <code class="language-markup">
                <xmp>
{% render_element element.aspect.organisms.search %}
                </xmp>
            </code>
        </pre>
    </div>
    <!-- code-example -->
    <div class="description">
        This is an example of how the AJAX call for the autocomplete input box would look like. This has been mocked out against the current endpoints in Barron, and tested using the browser development console.
    </div>
    <div class="code-example">
        <pre>
            <code class="language-javascript">
                <xmp>
(function() {
    var xhr;
    var input = document.getElementById('txtMasterSearch');
    var config = {
        'minChars': 3,
        'replace': function(text) {
            this.input.value = text.label;
        }
    };
    var myAwesomeComplete = new Awesomplete(input, config);

    input.addEventListener('input', function(e) {
        var limit = config.minChars || 2;
        var value = e.target.value;
        if (value.length >= limit) {
            getData(value);
        }
    });


    function getData(requestValue) {
        // Old compatibility code, no longer needed.
        if (window.XMLHttpRequest) { // Mozilla, Safari, IE7+ ...
            xhr = new XMLHttpRequest();
        } else if (window.ActiveXObject) { // IE 6 and older
            xhr = new ActiveXObject('Microsoft.XMLHTTP');
        }
        xhr.open('POST', '../Services/Core.asmx/SearchProducts', true);
        xhr.setRequestHeader('Content-type', 'application/json');
        xhr.onload = function() {
            if (!xhr.onloadDone) {
                xhr.onloadDone = true;
                xhrCallback();
            }
        };
        xhr.onreadystatechange = function() {
            if (('loaded' === xhr.readyState || 'loaded' === xhr.readyState) && !xhr.onloadDone) {
                xhr.onloadDone = true;
                xhrCallback();
            }
        }

        function xhrCallback() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var data = JSON.parse(xhr.responseText).d.map(function(item) {
                    return {
                        'label': item.split('|')[3] + ' (' + item.split('|')[4] + ')',
                        'data': item,
                        'value': {
                            'data': item,
                            'path': item.split('|')[3]
                        }
                    }
                });
                myAwesomeComplete.list = data
                myAwesomeComplete.evaluate();
            }
        };
        xhr.send('{Keyword:"' + requestValue + '"}');
    }


    input.addEventListener('awesomplete-select', function(e) {
        window.location = '/Products/' + e.text.value.path + '.aspx';
    });
}());
                    </xmp>
            </code>
        </pre>
    </div>
    <!-- code-example -->
</div>
<!-- sg-code-block -->
{% endblock %}
