<div class="pattern-group">
  <div class="footer">
    {{> basic-footer-menu-nav}}
    <div class="footer-alternate-menu">
      <div class="footer-alternate-menu__left-column">
        {{> basic-languages-vertical}}
      </div>
    </div>
  </div>
</div>
