<div class="comment">
  {{# commentLogin}}
    <h5 class="heading heading--x-small">
      <span class="comment__title">{{title}}</span>
    </h5>
    <div class="comment__call-to-action-message">{{call_to_action_message}}</div>
    {{> basic-base:login}}
  {{/ commentLogin}}
</div>
