<div class="comment">
  {{# commentPanel}}
    <h5 class="heading heading--x-small">
      <span class="comment__title">{{title}}</span>
    </h5>
    <div class="comment__call-to-action-message">
      <h6 class="heading heading--small">{{username}}</h6>
    </div>
    {{> basic-base:login}}
  {{/ commentPanel}}
</div>
