<div class="header">
  {{> basic-languages-dropdown(languagesDropdownBlock)}}
  <div class="header__navigation">
    <div class="logo-container">
      {{> basic-logo}}
    </div>
    {{> basic-main-nav}}
  </div>
</div>
