{% extends "mote/element/index.html" %}
{% block codeblock %}
<div class="sg-code-block">
    <h4 class="title">
        Brand Logo
    </h4>
    <div class="description">
        This is the atom for On device. The Block level class is <code>OnDevice</code>, this Block class has no variations.
    </div>
    <div class="code-example">
        <pre>
            <code class="language-markup">
                <xmp>
<!-- On device -->
<span class="OnDevice">
    On
</span>
                </xmp>
            </code>
        </pre>
    </div>
    <!-- code-example -->
</div>
    <!-- sg-code-block -->
{% endblock %}
