<div class="pattern-group">
{{# headingElement}}
  <{{h1.tag}} class="heading heading--{{h1.fontModifier}}">{{heading}}</{{h1.tag}}>
  <{{h2.tag}} class="heading heading--{{h2.fontModifier}}">{{heading}}</{{h2.tag}}>
  <{{h3.tag}} class="heading heading--{{h3.fontModifier}}">{{heading}}</{{h3.tag}}>
  <{{h4.tag}} class="heading heading--{{h4.fontModifier}}">{{heading}}</{{h4.tag}}>
  <{{h5.tag}} class="heading heading--{{h5.fontModifier}}">{{heading}}</{{h5.tag}}>
  <{{h6.tag}} class="heading heading--{{h6.fontModifier}}">{{heading}}</{{h6.tag}}>
{{/ headingElement}}

<hr/>
<h1 class="heading heading--xx-large">Paragraph</h1>
<p>{{description}}</p>
</div>
