{{# breadcrumbsList}}
  <div class="breadcrumbs">
    <ul class="breadcrumbs-list">
        <li class="breadcrumbs-list__item">
          <a href="{{breadcrumbs_list.link_0.src}}" class="breadcrumbs-list__anchor breadcrumbs-list__anchor--is-active">{{link}}</a>
        </li>
    </ul>
  </div>
{{/ breadcrumbsList}}
