node_modules/*

**..DS_Store
patternlab.json
**.sass-cache**
**.Thumbs.db
.idea/
public

LICENSE
.DS_Store
source/_patterns/.DS_Store
source/_patterns/00-principles/.DS_Store
source/_patterns/00-principles/devices/.DS_Store
source/images/.DS_Store
source/images/icons/.DS_Store
