
/*
* SEARCH SUBMIT LINK
*/
.call-to-action__item--search-submit {
  font-family: 'Quicksand', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 14px;
  padding: 10px 25px 10px 10px;
  text-decoration: underline;
  text-transform: uppercase;
  @media screen and (min-width: 320px) {
    background:  url('/images/icons/search.svg') no-repeat 0 0 / auto 100%;
    text-indent: -99em;

    height: 21px;
    width: 21px;
    position: absolute;
    right: 10%;
    top: 35%;
  }
}
