// ==========================================
// ** Checkbox's & Radio Buttons
// ==========================================
//    checkbox's and radio buttons

.OptionButtonGroup {
    // @TODO: Refactor this to use the @at-root directive as soon
    // as a fix becomes available.
    $scoped-block-name: unquote("#{&}");
    //@include breakpoint($bp-beta) {
    @include container;
    padding-top: ms(0);

    &-item {
        @include span(12);
        //margin-right: gutter();
        margin-bottom: ms(3);

        @include breakpoint($bp-alpha) {
            @include span(45% no-gutter);
            margin-right: 5%;


            &:nth-child(2n) {
                @include last;
                //margin-right: 0;
            }
        }
    }

    &--inverted {
        background-color: $color-brand-green-cyprus;
        //#{$scoped-block-name}-label {
        //    color: $color-greyscale-white;
        //}

        //#{$scoped-block-name}-checkbox {
        //    border: 1px solid $color-greyscale-white;
        //}
    }
}
