{{# meta}}
<div class="article-teaser-list__meta">
  <span class="article-teaser-list__likes-counter">
    {{likesCounter}}
  </span>
  <span class="article-teaser-list__comment-counter">
    {{commentCounter}}
  </span>
</div>
{{/ meta}}
