{{# meta}}
<div class="article-teaser-list__meta">
  <div class="article-teaser-list__likes-counter">
    {{likesCounter.count}}<span class="article-teaser-list__liked-label">{{likesCounter.label}}</span>
  </div>
  <div class="article-teaser-list__reply-counter">
    {{replyCounter.count}}<span class="article-teaser-list__reply-label">{{replyCounter.label}}</span>
  </div>
</div>
{{/ meta}}
