<div class="pattern-group">
{{# meta}}
<div class="article-teaser-list__meta">
  <div class="article-teaser-list__likes-counter">
    {{likesCounter.count}}<span class="article-teaser-list__liked-label">{{likesCounter.label}}</span>
  </div>
  <div class="article-teaser-list__comment-counter">
    {{commentCounter.count}}<span class="article-teaser-list__comment-label">{{commentCounter.label}}</span>
  </div>
</div>
{{/ meta}}
</div>
