<div class="pattern-group">
<div class="tags">
  <ul class="tags-list">
    <li class="tags-list__item tags-list__item--tags__title"><h4 class="heading heading--small">Tags</h4></li>
    {{# tags}}
      <li class="tags-list__item"><a href="#">{{title}}</a></li>
    {{/ tags}}
  </ul>
</div>
</div>
