
{{# pollContent}}
  <div class="polls">
    <div class="poll__inner">
      <h3 class="heading heading--large">{{poll_title}}</h3>
      {{> basic-input-fields}}
      {{> basic-base}}
    </div>
  </div>
{{/ pollContent}}
