// ==========================================
// ** Checkbox's & Radio Buttons
// ==========================================
//    checkbox's and radio buttons
.FieldLabel {
    // @TODO: Refactor this to use the @at-root directive as soon
    // as a fix becomes available.
    $scoped-block-name: unquote("#{&}");
    $color: rgba($color-greyscale-grey, .5);
    $color-inverted-alpha: rgba($color-greyscale-white, .6);
    $color-inverted-background: $color-brand-green-cyprus;
    //@include font-baseline-fix;
    display: block;
    position: relative;
    transition: anim(3);
    color: alpha-background-color($color, $color-greyscale-white);
    color: $color;
    font-size: ms(-1);
    text-transform: uppercase;
    opacity: 1;
}
