
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3;
}

.pattern-group {
  background: #f2f3f4;
  box-shadow: inset 0 2px 0 0 #E5E7E9;
  padding: 15px 5% 80px 5%;
  margin-top: 40px;
  width: 90%;
}
