
.heading {
  margin: 0;
  line-height: 1.5;
}

.heading--xx-small {
}
.heading--x-small {
}
.heading--small {
}


.heading--large {
  font-size: 22px;
  color: #5A5D5E;
  font-weight: normal;
  padding: 10px 0;
}
.heading--x-large {
  font-size: 24px;
}
.heading--xx-large {
  font-size: 32px;
}
