.FieldMsg {
    // This variable contains the root element class, for
    // appending to children that are scoped within a modifier.
    // This is due to the unfortunate fact that node-sass has
    // a bug with the @at-root directive, and sass-lint explodes
    // as well. Ugh. Double whammy.
    //
    // @TODO: Refactor this to use the @at-root directive as soon
    // as a fix becomes available.
    $scoped-block-name: unquote("#{&}");
    @include font-baseline-fix;
    display: none;
    padding-top: .5rem;
    float: right;
    color: $color-secondary-orange-trinidad;
    font-size: ms(-1);
}
