{% extends "mote/element/index.html" %}
{% block codeblock %}
<div class="sg-code-block">
    <h4 class="title">
        Field Error Message
    </h4>
    <div class="description">
        This is the atom for a Field Error Message. The Block level class is <code>FieldMsg</code>, there are no veriations on this Block class.
    </div>
    <div class="code-example">
        <pre>
            <code class="language-markup">
                <xmp>
<!-- field error msg -->
<label class="FieldMsg" >error message text goes here</label>
                </xmp>
            </code>
        </pre>
    </div>
    <!-- code-example -->
</div>
<!-- sg-code-block -->
{% endblock %}
