
<table class="devices-list">
    <tr>
      <th>Device type</th>
      <th>Screen resolution</th>
      <th>Device example</th>
      <th>Browser type</th>
    </tr>
    <tr>
      <td> Feature phone</td>
      <td>128 x 128 pixels</td>
      <td>(e.g. Nokia 105)</td>
      <td></td>
    </tr>
    <tr>
      <td>  Feature phone </td>
      <td>128x 160 pixels</td>
      <td>(e.g. Nokia 110)</td>
      <td></td>
    </tr>
    <tr>
      <td>Feature phone</td>
      <td>240 x 320 pixels</td>
      <td>(e.g. Nokia 5130 Xpress Music)</td>
      <td></td>
    </tr>
    <tr>
      <td>Feature phone</td>
      <td>360 x 640 pixels</td>
      <td>(e.g. Nokia 5800 Xpress Music)</td>
      <td></td>
    </tr>
    <tr>
      <td>Smartphone</td>
      <td>240 x 320 pixels</td>
      <td>(e.g Samsung Pocket)</td>
      <td></td>
    </tr>
    <tr>
      <td> Smartphone</td>
      <td>480 x 360 pixels</td>
      <td>(e.g. Blackberry 9720)</td>
      <td></td>
    </tr>
    <tr>
      <td>Smartphone</td>
      <td>720 x 1280 pixels</td>
      <td>(e.g. Samsung J3)</td>
      <td></td>
    </tr>
    <tr>
      <td>Smartphone</td>
      <td>1440 x 2560 pixels </td>
      <td>(e.g. Samsung S6)</td>
      <td></td>
    </tr>
</table>
