<fieldset>
  <legend>Input Helper</legend>
  <label>Name
    <input name="name" type="text" placeholder="Name" value="Name"/>
    <span class="label__hint-text">Enter your full names</span>
  </label>

  <label>Email
    <input name="name" type="text" placeholder="Name" value="Name"/>
    <span class="label__hint-text">(e.g. 2086)</span>
  </label>
</fieldset>
