<div class="pattern-group">
<fieldset>
  <legend>Required Input</legend>
  <label>Name
    <span class="label__required-asterisk">*</span>
    <input name="name" type="text" placeholder="Name" value="Name"/>
    <span class="label__hint-text">Enter your full names</span>
    <span class="label__required--info">* Is a required field</span>
  </label>
</fieldset>
</div>
