<div class="pattern-group">
<fieldset>
  <label class="error">Email
    <span class="label__required-asterisk">*</span>
    <input name="email" type="email" placeholder="Email Address" value="Email Address"/>
    <span class="label__hint-text">Enter your full names</span>
    <span class="label__required--info">* Is a required field</span>
  </label>
</fieldset>
</div>
