{{# formBlock}}

    {{# inputFields}}
      <fieldset>
        <label>{{field.label}}
          <{{field.element}} type="{{field.type}}"  name="{{field.label}}" placeholder="{{field.value}}" required="{{field.validate}}"/>
        </label>
      </fieldset>
    {{/ inputFields}}


  <fieldset>
    <label>{{label}}
      <{{fieldTextarea.element}} name="multiline-message" rows="5" wrap="hard"></{{fieldTextarea.element}}>
    </label>
  </fieldset>


  {{# fieldSelect}}
    <fieldset>
      <label>Select Dropdown
        <{{element}} name="select-drown">
          {{# fieldSelect.options}}
            <{{option.key}} value="{{option.value}}">{{option.value}}</{{option.key}}>
          {{/ fieldSelect.options}}
        </{{element}}>
      </label>
    </fieldset>
  {{/ fieldSelect}}

  {{# multipleChoice}}
  <fieldset>
    <legend>{{legend}}</legend>
    {{# fieldMultipleChoice}}
      <label>{{field.label}}
          <{{field.element}} type="{{field.type}}" name="{{field.name}}" value="{{field.values}}" />
      </label>
    {{/ fieldMultipleChoice}}
  </fieldset>
  {{/ multipleChoice}}

  {{# chooseOneChoice}}
  <fieldset>
    <legend>{{legend}}</legend>
    {{# fieldchooseOneChoice}}
      <label>{{field.label}}
          <{{field.element}} type="{{field.type}}" name="{{field.name}}" value="{{field.values}}" />
      </label>
    {{/ fieldchooseOneChoice}}
  </fieldset>
  {{/ chooseOneChoice}}
{{/ formBlock}}
