{% extends "mote/element/index.html" %}
{% load mote_tags %}

{% block codeblock %}
<div class="sg-code-block">
    <h4 class="title">
        Typography Helper
    </h4>
    <div class="description">
        Adds some basic typographic rules to a content block. This is to prevent applying general typography at the global level, for the sake of code maintenance.
    </div>
    <div class="code-example">
        <pre>
            <code class="language-markup">
                <xmp>
<div class="u-typography">...</div>
                </xmp>
            </code>
        </pre>
    </div>
    <!-- code-example -->
</div>
<!-- sg-code-block -->
{% endblock %}
