{{# call_to_action}}
  <h1 class="heading headin--xx-large">{{heading}}</h1>
  <h3 class="heading headin--large">{{challenge_title}}</h3>
  {{> basic-base:login(message: "Login") }}
  {{> basic-input-fields}}
  {{> basic-base(message: "Register")}}
  {{> basic-text-link}}
{{/ call_to_action}}
