{{# call_to_action}}
  <h1 class="heading headin--xx-large">{{heading}}</h1>
  <h3 class="heading headin--large">{{challenge_title}}</h3>
  {{> basic-base:login(name: "Register") }}
  {{> basic-input-fields}}
  {{> basic-base(name: "Register")}}
  {{> basic-text-link}}
{{/ call_to_action}}
