<div class="profiles">
  {{# profile_content}}
    <div class="profiles">
      <h3 class="heading heading--large">{{heading}}</h3>
      <h5 class="heading heading--xx-small">{{challenge_title}}</h5>
      {{> basic-input-fields}}
      {{> basic-base(message: "Save")}}
      {{> basic-text-link}}
    </div>
  {{/ profile_content}}
</div>
