
.sg-header {
  .heading-logo {
    font-weight: bold;
    color: #fff;
    font-size: 22px;
    padding: 0;
    @media screen and (min-width: 480px) {
      font-size: 18px;
    }
    @media screen and (min-width: 600px) {
      font-size: 22px;
    }
    &:hover, &:focus, &.active {
      color: #ccc;
    }
    small {
      font-size: 12px;
      color: #A6ACAF;
      font-weight: normal;
      padding-left: 15px;
      text-transform: capitalize;
    }
  }

  a {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    padding: 0 5px;
    transition: background $sg-animate-quick ease-out;
    transition: color $sg-animate-quick ease-out;

    &:hover, &:focus, &.active {
        color: #fff;
        background: $sg-gray-dark;
    }
  }
}

.sg-controls {
  padding: 10px 0;
  overflow: auto;
  @media screen and (min-width: 800px) {
    float: right;
  }
  ul.sg-control {
    li.sg-size {
      width: auto;
      @media screen and (min-width: 42em) {
          //width: 135px;
          float: left;
      }
      .sg-current-size {
        color: #ccc;
        float: left;
        padding-right: 30px;
        padding-top: 2px;
        #sg-form {
          font-size: 13px;
          text-transform: uppercase;

          .sg-input {
              margin: 0;
              padding: 0.1em;
              border: 0;
              border-radius: 3px;
              background: #242526;
              color: #ccc;
              text-align: right;
              transition: all $sg-animate-quick ease-out;
              font-size: 13px;
              width: 45px;
              &.sg-size-px {
                  width: 45px;
              }
              &:hover {
                  color: #fff;
                  background: #242526;
              }
              &:active, &:focus {
                  outline: 0;
                  background: $sg-gray;
                  color: $sg-white;
              }
          }
        }
      }

      ul.sg-size-options {
        float: left;
        li {
          float: left;
          a {color: #ccc;
            font-size: 12px;
            text-transform: uppercase;
          }
        }
      }
    }

    li.sg-tools {
      @media screen and (min-width: 42em) {
        float: left;
      }
      .sg-tools-toggle {
          background: transparent;
          color: #ccc;
          text-decoration: none;
          border: 0;
          cursor: pointer;
          padding: 3px 0;
          font-weight: bold;
          &:after {
              display: none;
              content: "";
          }
          &:hover {
            background: #ccc;
            color: #242526;
            border: 1px solid #242526;
          }
        @media screen and (min-width: 320px) {
          position: absolute;
          right: 20px;
          text-transform: uppercase;
          top: 27px;
          padding: 5px 15px;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
      }
      .sg-checklist {
        z-index: 99999;
        @media screen and (min-width: 42em) {
          position: absolute;
          left: auto;
          right: 0;
          top: 65px;
        }
        a {
          padding: 10px;
        }
      }
    }
  }

  .sg-find {
      position: relative;
  }
}
