
<h1 class="heading">{{title}}</h1>
<h3 class="heading heading--large">{{headline.medium}}</h3>
<p>{{excerpt.medium}}</p>

<h4 class="heading heading--small">{{body_content.content_0.topic}}</h4>
<p>{{body_content.content_0.discussion}}</p>


<h4 class="heading heading--small">{{body_content.content_1.topic}}</h4>
<p>{{body_content.content_1.discussion}}</p>


<h4 class="heading heading--small">{{body_content.content_2.topic}}</h4>
<p>{{body_content.content_2.discussion}}</p>

<h4 class="heading heading--small">{{body_content.content_3.topic}}</h4>
<p>{{body_content.content_3.discussion}}</p>

<h4 class="heading heading--small">{{body_content.content_4.topic}}</h4>
<p>{{body_content.content_4.discussion}}</p>


<h4 class="heading heading--small">{{body_content_1.topic}}</h4>
<p>{{body_content_1.discussion}}</p>
<h5>{{body_content_1.discussion_points.discussion_topic}}</h5>
<ul>
  <li><p>{{body_content_1.discussion_points.points.point_0}}</p></li>
  <li><p>{{body_content_1.discussion_points.points.point_1}}</p></li>
  <li><p>{{body_content_1.discussion_points.points.point_2}}</p></li>
  <li><p>{{body_content_1.discussion_points.points.point_3}}</p></li>
</ul>
