<div class="sg-control-content">
  <ul class="sg-control">
    <li class="sg-size">
      <div class="sg-current-size">
        <form id="sg-form">
          <label for="sg-size-px">Size</label>
          <input type="text" class="sg-input sg-size-px" id="sg-size-px" value="---">px /
          <input type="text" class="sg-input sg-size-em" value="---">em
        </form><!--end #sg-form-->
      </div><!--end #sg-current-size-->
      <ul class="sg-size-options">
        {{^ ishControlsHide.s }}
          <li><a href="#" id="sg-size-s">Small</a></li>
        {{/ ishControlsHide.s }}
        {{^ ishControlsHide.m }}
          <li><a href="#" id="sg-size-m">Medium</a></li>
        {{/ ishControlsHide.m }}
        {{^ ishControlsHide.l }}
          <li><a href="#" id="sg-size-l">Large</a></li>
        {{/ ishControlsHide.l }}
        {{^ ishControlsHide.full }}
          <li><a href="#" id="sg-size-full">Full Browser</a></li>
        {{/ ishControlsHide.full }}
        {{^ ishControlsHide.random }}
          <li><a href="#" id="sg-size-random">Rand</a></li>
        {{/ ishControlsHide.random }}
        {{^ ishControlsHide.disco }}
          <li><a href="#" class="mode-link" id="sg-size-disco">Disco</a></li>
        {{/ ishControlsHide.disco }}
        {{^ ishControlsHide.hay }}
          <li><a href="#" class="mode-link" id="sg-size-hay">Auto</a></li>
        {{/ ishControlsHide.hay }}
      </ul>
    </li>
    {{^ ishControlsHide.tools-all }}
      <li class="sg-tools">
        <button class="sg-acc-handle sg-tools-toggle" id="sg-tools-toggle" title="Tools">
          Pattern Info
        </button>
        <ul class="sg-acc-panel sg-right sg-checklist">
          <li><a href="#" id="sg-t-patterninfo">Show Pattern Info</a></li>
          {{^ ishControlsHide.views-new }}
            <li><a href="#" target="_blank" id="sg-raw">Open in new window</a></li>
          {{/ ishControlsHide.views-new }}

          {{^ ishControlsHide.find }}
            <li id="sg-find"><input class="typeahead" id="typeahead" type="text" placeholder="Find pattern" /></li>
          {{/ ishControlsHide.find }}
        </ul>
      </li>
    {{/ ishControlsHide.tools-all }}
  </ul>
</div>
