.nav-menu-list {}
.nav-menu-list__item  {
  border-bottom: 1px solid #B0B9BB;
  color: #07292F;
  padding: 10px 15px 15px 0;
}
.nav-menu-list__achor {
  color: #07292F;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}
.nav-menu-list__desc {
  color: #727172;
  display: block;
  text-transform: initial;
  font-weight: normal;
}

.nav-submenu-list__achor {
  display: block;
  padding-left: 25px;
  color: #07292F;
  @media screen and (min-width: 320px) {
    text-decoration: none;
  }
}
