
.nav-menu-list__achor {
  display: block;
  text-decoration: none;
  display: inline-block;
  &:after {
    padding: 0 10px;
    @media screen and (min-width: 320px) {
      content: ">";
    }
    @media screen and (min-width: 490px) {
      content: "â¯";
    }
  }
}
