
.nav-menu-list__item--horizontal  {
  &:last-child {
    .nav-menu-list__anchor--horizontal {
      &:after {
        @media screen and (min-width: 320px) {
          content: "";
        }
      }
    }
  }
}

.nav-menu-list__anchor--horizontal {
  display: block;
  text-decoration: underline;
  &:after {
    content: "|";
    padding: 0 0 0 3px;
    @media screen and (min-width: 320px) {
      padding: 0 2px 0 5px;
    }
  }
  @media screen and (min-width: 320px) {
    text-decoration: none;
  }
}
