<div class="pattern-group">
{{# profile_content}}
<div class="profiles">
  <h1 class="heading headin--xx-large">{{heading}}</h1>
    {{> basic-input-fields}}
  {{# security_questions}}
      <h3 class="heading heading--large">{{heading}}</h3>
      <h5 class="heading heading--x-small">{{desciption}}</h5>
      {{# formBlock.inputFields}}
      <fieldset>
        <label>{{field.label}}
          <{{field.element}} type="{{field.type}}"  name="{{field.label}}" placeholder="{{field.value}}" required="{{field.validate}}"/>
          <span class="input-field__hint">{{hint}}</span>
        </label>
      </fieldset>
      {{/ formBlock.inputFields}}
    {{> basic-base(message: "Forgot Pin")}}
  {{/ security_questions}}
</div>
{{/ profile_content}}
</div>
