<div class="pattern-group">
{{# profile_content}}
<div class="profiles">
  <h1 class="heading headin--xx-large">{{heading}}</h1>
    {{> basic-input-fields}}
    {{> basic-base(message: "Reset Pin")}}
</div>
{{/ profile_content}}
</div>
