<div class="pattern-group">
{{# profile_content}}
  <div class="profiles">
    <h1 class="heading headin--xx-large">{{heading}}</h1>
    <h4 class="heading heading--x-small">{{challenge_title}}</h4>
    {{> basic-base(message: "Continue to sign in")}}
  </div>
{{/ profile_content}}
</div>
