<div class="pattern-group">
{{# profile_content}}
<div class="profiles profiles--disabled-cookies">
  <h3 class="heading headin--large">{{heading}}</h3>
  {{# paragraphs}}
    <p>{{para}}</p>
  {{/ paragraphs}}

  {{> basic-text-link}}
</div>
{{/ profile_content}}
</div>
