<h1 class="heading heading--xx-large">{{title}}</h1>
<h3 class="heading heading--large">{{headline.medium}}</h3>
<h4 class="heading heading--x-small">{{excerpt.short}}</h4>
<ul class="default-ordered-list">
  {{# orderedList}}
  <li class="default-ordered-list__item">
    {{text}}
  </li>
  {{/ orderedList}}
</ul>
