<h4 class="heading heading--small">{{excerpt.medium}}</h4>
  <h5 class="heading heading--x-small">We shouldn’t design with widths bigger than ~320 pixels</h5>
  <p>Feature phone screens start at about 128 x 160 and only go up to about 240 x 320.</p>
  <br/>
  <h5 class="heading heading--x-small">We should use a simple one column layout.</h5>
  <p>Feature phones have tiny screens that would make your columns too small,
  even if they understood the code to make the grid layout in the first place.
  Floating text and images often results in a broken layout.</p>
  <br/>
  <h5 class="heading heading--x-small">We should use as few images as we can.</h5>
  <p>Each image we add costs the user time (to download the image) and money (for data).
  On top of that, some browsers have an image quota or a page size quota: when they reach it they either stop loading the page immediately, or reject the whole page and load nothing.</p>
  <p>Images should be small, and displayed inline, or on a row of their own, for example,
  should be always above or below the texts. No fancy positioning or floating is possible.
  72dpi resolution ideally.</p>
  <br/>
  <h5 class="heading heading--x-small">We shouldn’t use background colours and try to use less colour in the feature phone design.</h5>
  <p>Feature phone support for applying background colours is widely variable and can't be trusted. You might end up with text and background colours being the same, rendering the text invisible.</p>
  <p>Low-end feature phones don’t show the colours and texts will appear black.
  Over-riding link colours in specific sections aren’t always supported on feature phones, and they often add underlines to all links.</p>
  <br/>
  <h5 class="heading heading--x-small">We shouldn’t make links as buttons</h5>
  <p>On low-end feature phones they won’t show the background colour and borders
  so it’s better to keep the link as a text link. Also, links should have a specific URL.</p>
  <p>For example, we shouldn’t have a back link that doesn’t have a specific URL because this requires some code that either won’t work on feature phones or even if it works, sometimes it directs the user to the wrong page. Hence it should be back to article or back to homepage so that we can give it a URL.</p>
  <br/>
  <h5 class="heading heading--x-small">Buttons should have short one word text.</h5>
  <p>The feature phone screens are small, and buttons will be smaller than the smartphone templates; if the text is long it will go under the buttons.</p>


{{# contentPoints}}
<h5 class="heading heading--x-small">{{topic}}</h5>
<ul class="default-ordered-list">
  {{# orderedList}}
  <li class="default-ordered-list__item">
    {{text}}
  </li>
  {{/ orderedList}}
</ul>
{{/ contentPoints}}
