<div class="pattern-group">
{{# pollContent}}
  <div class="polls polls--right">
    <div class="poll__inner poll__inner--right">
      <h3 class="heading heading--large heading--poll-title">{{poll_title}}</h3>
      {{> basic-input-fields}}
      {{> basic-base:poll-right-submit(message: "vote")}}
    </div>
  </div>
{{/ pollContent}}
</div>
