.header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: auto;
  padding: 10px 15px;
  @media screen and (min-width: 320px)  {
    font-family: 'Quicksand', sans-serif;
  }
  .pattern-group {
    @include pattern-group-undo;
  }
}

.logo-container,
.main-navigation {
  display: inline-block;
  vertical-align: middle;
}
.logo-container {
  padding: 0 20px 0 0;
}

.header__navigation--fourth-instance {
  text-align: center;
}
