.header {
  font-family: 'Quicksand', sans-serif;
  overflow: auto;
  padding: 10px 15px;
}

.logo-container,
.main-navigation {
  display: inline-block;
  vertical-align: middle;
}
.logo-container {
  padding: 0 20px 0 0;
}
