{{# categoryArticleThumbnail }}
  <h2 class="heading heading-subtitle">{{categoryArticleThumbnail.title}}</h2>
  <a href="#" class="article__image--link">
    <img class="article__image--thumb" src="{{categoryArticleThumbnail.img.article-thumb.src}}" alt="{{categoryArticleThumbnail.img.article-thumb.alt}}">
  </a>
{{/ categoryArticleThumbnail }}

<br/><br/>
{{# categoryArticleThumbnailSquare }}
  <h2 class="heading heading-subtitle">{{categoryArticleThumbnailSquare.title}}</h2>
  <a href="#" class="article__image--link">
    <img class="article__image--thumb-square" src="{{categoryArticleThumbnailSquare.img.article-thumb.src}}" alt="{{categoryArticleThumbnailSquare.img.article-thumb.alt}}">
  </a>
{{/ categoryArticleThumbnailSquare }}

<br/><br/>
{{# categoryArticleThumbnailRound }}
  <h2 class="heading heading-subtitle">{{categoryArticleThumbnailRound.title}}</h2>
  <a href="#" class="article__image--link">
    <img class="article__image--thumb-round" src="{{categoryArticleThumbnailRound.img.article-thumb.src}}" alt="{{categoryArticleThumbnailRound.img.article-thumb.alt}}">
  </a>
{{/ categoryArticleThumbnailRound }}
