<div class="pattern-group">
<div class="header">
  <div class="header__navigation header__navigation--third-instance">
    <div class="logo-container">
      {{> basic-logo}}
    </div>
    {{> basic-main-nav}}
  </div>
</div>
</div>
