<div class="pattern-group">
{{# unorderedListBlock}}
  <ul class="feature-article-list">
    <li class="feature-article-list__item feature-article-list__item--label">
      {{tagLabels.label}} <span class="feature-article-list__tagname">{{tagLabels.tag_name}}</span>
    <li>
    {{# unorderedList}}
    <li class="feature-article-list__item">
      <a href="#" class="feature-article-list__anchor">{{text}}</a>
    </li>
    {{/ unorderedList}}
  </ul>
{{/ unorderedListBlock}}
</div>
