<div class="pattern-group">
  <div class="featured-article-teaser">
  {{# unorderedListBlock}}
    <ul class="feature-article-list">
      {{> basic-might-like}}
      {{# unorderedList}}
      <li class="feature-article-list__item">
        <a href="#" class="feature-article-list__anchor">{{text}}</a>
      </li>
      {{/ unorderedList}}
    </ul>
  {{/ unorderedListBlock}}
  </div>
</div>
