.heading--xx-large {
  @include heading-fontsize-scale($heading-xx-large);
}
.heading--x-large {
  @include heading-fontsize-scale($heading-x-large);
}
.heading--large {
  @include heading-fontsize-scale($heading-large);
  color: #5A5D5E;
  font-weight: 300;
  padding: 0;
  @media screen and (min-width: $screen-small) {
    padding: 0 20% 0 0;
  }
}

.heading--small {
  font-size: $font-small;
}
.heading--x-small {
  font-size: $font-x-small;
}
.heading--xx-small {
  font-size: $font-xx-small ;
}
