
.heading {
  margin: 0;
  line-height: 1.5;
}
.heading--xx-large {
  font-size: 32px;
}
.heading--x-large {
  font-size: 24px;
}
.heading--large {
  font-size: 22px;
  color: #5A5D5E;
  font-weight: 300;
}

.heading--small {
  font-weight: 300;
}
.heading--x-small {
  font-weight: 300;
}
.heading--xx-small {
  font-weight: 300;
}
