<div class="main-navigation">
  <ul class="main-navigation-list">
    {{# mainNavList}}
      <li id="{{link.id}}" class="main-navigation-list__item">
        <a href="{{link.src}}" class="main-navigation-list__anchor">{{link.name}}</a>
      </li>
    {{/ mainNavList}}
  </ul>
</div>
