<div class="pattern-group">
<div class="main-navigation">
  <ul class="main-navigation-list">
    {{# mainNavList}}
      <li id="{{link.id}}" class="main-navigation-list__item">
          <a href="{{link.src}}" class="main-navigation-list__anchor">{{link.name}}</a>
      </li>
    {{/ mainNavList}}
    <li class="main-navigation-list__item">
      <label for="{{searchToggle.link.id}}" class="main-navigation-list__anchor">
        {{searchToggle.link.name}}
      </labe>
    </li>
  </ul>
</div>
<input id="{{searchToggle.link.id}}" class="search-toggling__button" type="checkbox"/>
{{> basic-search-input:toggling}}
</div>
