<div class="navigation">
  <ul class="nav-menu-list">
    {{# navList}}
      <li class="nav-menu-list__item">
        <a href="{{link.href}}" class="nav-menu-list__anchor nav-menu-list__anchor--">{{link.name}}</a>
        <span class="nav-menu-list__desc">{{link.desc}}</span>
      </li>
    {{/ navList}}
  </ul>
</div>
