.article-teaser {
  overflow: auto;
  padding-bottom: 20px;
  .heading--x-large {
    margin-top: 0;
  }
  .heading--x-small {
    font-weight: normal;
    padding-bottom: 5px;
  }

  .article__image--link {
    text-align: center;
    @media screen and (min-width: 320px) {
      float: right;
      padding: 7px 0 0 5px;
    }
    @media screen and (min-width: 480px) {
      padding: 0 5px 25px;
    }
  }

  .article__image--thumbnail {
    width: 95%;
    @media screen and (min-width: 320px)  {
      width: auto;
    }
  }
}

.article-teaser-list__meta {
  border-top: 1px solid #E5E7E9;
  padding: 10px 0;
}

.article-teaser-list__likes-counter {
  padding: 5px 0;
  @media screen and (min-width: 320px)  {
    padding: 0 15px 0 10px;
    float: left;
  }
}

.article-teaser-lis__comment-counter {
  padding: 5px 0;
  @media screen and (min-width: 320px)  {
    padding: 0 10px 0 15px;
    float: right;
  }
}
