.article-teaser {
  .article__image--link {
    text-align: center;
    @media screen and (min-width: 320px) {
      float: right;
      padding: 7px 0 0 5px;
    }
    @media screen and (min-width: 480px) {
      padding: 0 5px 25px;
    }
  }

  .article__image--thumbnail {
    width: 95%;
    @media screen and (min-width: 320px)  {
      width: auto;
    }
  }
}
