{{# orderedList}}
  <ul class="default-ordered-list">
    <li class="default-ordered-list__item">
      <p>{{orderedList.text}}</p>
    </li>
    <li class="default-ordered-list__item">
      <p>{{orderedList.text}}</p>
    </li>
    <li class="default-ordered-list__item">
      <p>{{orderedList.text}}</p>
    </li>
  </ul>
{{/ orderedList}}

<br/></br>
{{# unorderedList}}
  <ol class="default-unordered-list__item">
    <li class="default-unordered-list__item">
      <p>{{unorderedList.text}}</p>
    </li>
    <li class="default-unordered-list__item">
      <p>{{unorderedList.text}}</p>
    </li>
    <li class="default-unordered-list__item">
      <p>{{unorderedList.text}}</p>
    </li>
  </ol>
{{/ unorderedList}}
