
{{# colorList}}
  <div class="color-chip" style="border-color: #{{colorHex}};">
  	<div class="color-chip__name">{{name}}</div>
  	<div class="color-chip__variable">{{variable}}</div>
  	<div class="color-chip__color">{{colorHex}}</div>
  </div>
{{/ colorList}}
