<div class="pattern-group">
  <div class="yourwords">
  {{# your_words_content}}
    <a href="{{ link.components-yourwords }}">
      <img src="{{banner.src}}" alt="{{banner.alt}}" class="yourwords__banner"/>
    </a>
  {{/ your_words_content}}
  </div>
</div>
