<div class="pattern-group">
  <div class="yourwords">
    {{# your_words_content}}
      <h3 class="heading heading--large">{{page_title}}</h3>
      <h1 class="heading heading--xx-large">{{yw_heading}}</h1>
      <h5 class="heading heading--x-small yourwords__subtitle">{{yw_subtitle}}</h5>
      {{> basic-base}}
      {{> basic-back-to-top}}
    {{/ your_words_content}}
  </div>
</div>
