<div class="pattern-group">
  <div class="yourwords yourwords--secondary">
    {{# your_words_content}}
      <h3 class="heading heading--large heading--yourwords-secondary">{{page_title}}</h3>
      <div class="yourwords--secondary__inner">
        <h1 class="heading heading--xx-large heading--large-yourwords-secondary">{{yw_heading}}</h1>
        <h5 class="heading heading--x-small yourwords__subtitle">{{yw_subtitle}}</h5>
        {{> basic-base:yourwords-secondary}}
      </div>
      {{> basic-back-to-top}}
    {{/ your_words_content}}
  </div>
</div>
