{% extends "mote/element/index.html" %}
{% load mote_tags %}

{% block codeblock %}
<div class="sg-code-block">
    <h4 class="title">
        Product Page
    </h4>
    <div class="description">
        The product page is built up out of a <code>Product Grid</code> and <code>Card Grid</code>.
    </div>
    <div class="code-example">
        <pre>
            <code class="language-markup">
                <xmp>
{% render_element element.aspect.templates.product %}
                </xmp>
            </code>
        </pre>
    </div>
    <!-- code-example -->
</div>
<!-- sg-code-block -->
{% endblock %}
