{% extends "mote/element/index.html" %}
{% block codeblock %}
<div class="sg-code-block">
    <h4 class="title">
        Field Input
    </h4>
    <div class="description">
        This is the atom for an <code>&lt;input&gt;</code> tag. The Block level class is <code>FieldInput</code> which can be used in conjuction with the class modiefier <code>FieldInput--inverted</code> when the input is present on the dark background.
    </div>
    <div class="code-example">
        <pre>
            <code class="language-markup">
                <xmp>
<!-- input field -->
<input class="FieldInput" />
<!-- input field inverted -->
<input class="FieldInput FieldInput--inverted" />
                </xmp>
            </code>
        </pre>
    </div>
    <!-- code-example -->
</div>
<!-- sg-code-block -->
{% endblock %}
