
.comment {
  .heading {
    padding-bottom: 0;
  }
  fieldset {
    margin: 0;
    padding: 0;
  }
  label {
    padding: 0;
  }
  .call-to-action {
    padding: 0;
  }
}

.comment__profile-image {
  border-radius: 100%;
  width: 5%;
  vertical-align: middle;
  display: none;
  @media screen and (min-width: 320px) {
    display: inline;
  }
}
.comment__call-to-action-message {
  .heading {
    font-weight: normal;
  }
}
