
<h1 class="heading">{{title}}</h1>
<h3 class="heading heading--large">{{excerpt.medium}}</h3>

<div class="breadcrumbs">
  <ul class="breadcrumbs-list">
      <li class="breadcrumbs-list__item"><a href="{{breadcrumbs_list.link_0.src}}" class="breadcrumbs-list__anchor breadcrumbs-list__anchor--is-active">{{breadcrumbs_list.link_0.title}}</a></li>
      <li class="breadcrumbs-list__item"><a href="{{breadcrumbs_list.link_1.src}}" class="breadcrumbs-list__anchor">{{breadcrumbs_list.link_1.title}}</a></li>
      <li class="breadcrumbs-list__item"><a href="{{breadcrumbs_list.link_2.src}}" class="breadcrumbs-list__anchor">{{breadcrumbs_list.link_2.title}}</a></li>
      <li class="breadcrumbs-list__item"><a href="{{breadcrumbs_list.link_3.src}}" class="breadcrumbs-list__anchor">{{breadcrumbs_list.link_3.title}}</a></li>
      <li class="breadcrumbs-list__item"><a href="{{breadcrumbs_list.link_4.src}}" class="breadcrumbs-list__anchor">{{breadcrumbs_list.link_4.title}}</a></li>
  </ul>
</div>
