{% extends "mote/element/index.html" %}
{% block codeblock %}
<div class="sg-code-block">
    <h4 class="title">
        Ribbon
    </h4>
    <div class="description">
        This is the atom information ribbons. The Block level class is <code>Ribbon</code>, which is used in conjuction with nested Element class <code>Ribbon-text</code>.
    </div>
    <div class="code-example">
        <pre>
            <code class="language-markup">
                <xmp>
<!-- Ribbon -->
<mark class="Ribbon">
    <span class="Ribbon-text">
        Lorem ipsum
    </span>
</mark>
                </xmp>
            </code>
        </pre>
    </div>
    <!-- code-example -->
</div>
    <!-- sg-code-block -->
{% endblock %}
