<div class="pattern-group">
<div class="comment comment--success">
  <h5 class="heading heading--x-small">
    <span class="comment__title">Thank you!</span>
  </h5>
  <h6 class="heading heading--xx-small">Your comment has been posted successfully </h6>
  {{> basic-text-link:upper}}
</div>
</div>
