<div class="pattern-group">
  {{# tag_labels}}
    <div class="article-tag">
      <a href="#" class="article-tag__link">
        <h6 class="heading heading--xx-small article-tag__label">
          {{label}}
          <span class="article-tag__name">{{tag_name}}</span>
        </h6>
      </a>
    </div>
  {{/ tag_labels}}
</div>
