<fieldset>
  <label>Name
    <input name="name" type="text" placeholder="Name" value="Name">
  </label>

  <label>Number
    <input name="phone-number" type="number" placeholder="Phone No." value="Phone No.">
  </label>

  <label>Password
    <input name="password" type="password" placeholder="Password" value="Password">
  </label>

  <label>Email
    <input name="email" type="email" placeholder="Email Address" value="Email Address">
  </label>

  <label>Telephone
    <input name="telephone" type="tel" placeholder="Telephone" value="Telephone">
  </label>

  <label>Search
    <input name="search" type="tel" placeholder="Search" value="Search">
  </label>

  <label>Multi-line message
      <textarea name="multiline-message" rows="5" wrap="hard"></textarea>
  </label>
</fieldset>
