#sg-cover {
  position: absolute;
}
/**
* Viewport wrapper div
* 1) This wrapper div occupies all remaining viewport space after PL's header
*/
#sg-vp-wrap {
    height: 100%;
    text-align: center;
    width: 100%;
    right: 0;
    z-index: 0;
    padding: 0 5px;
    @media screen and (min-width: 1224px) {
      margin: 0 auto;
      width: 1220px;
      //padding-left: 15%;
    }
}


.sg-gen-container {
  padding-top: 40px;
}

#sg-viewport {
  border: none;
}
