<ul class="article-teaser-list">
{{# articleContent}}
  <li class="article-teaser-list__item">
    <div class="article-teaser">
      {{> basic-thumbnail-image}}
      <h2 class="heading heading--x-large">{{heading}}</h2>
      <p>{{excerpt}}</p>
    </div>
  </li>
{{/ articleContent}}
</ul>
