<img src="{{img.article-thumb.src}}" alt="{{img.article-thumb.alt}}" class=""/>
<img src="{{img.square.src}}" alt="{{img.square.alt}}" class=""/>
<img src="{{img.rectangle.src}}" alt="{{img.rectangle.alt}}" class=""/>
<img src="{{img.landscape-4x3.src}}" alt="{{img.landscape-4x3.alt}}" class=""/>
<img src="{{img.landscape-16x9.src}}" alt="{{img.landscape-16x9.alt}}" class=""/>
