<div class="call-to-action">
  {{# call_to_action}}
  <{{type}} {{href}}="{{link}}" class="call-to-action__item call-to-action__item--{{ styleModifier}}">{{name}}</{{type}}>
  {{/ call_to_action}}
</div>
