<div class="call-to-action">
  <a href="#" class="call-to-action__item-text call-to-action__item-text{{ styleModifier}}" data-call-to-action-dir="right">Call to action</a>

  <a href="#" class="call-to-action__item-text call-to-action__item-text{{ styleModifier}}" data-call-to-action-dir="left">Call to action</a>
</div>
