<div class="pattern-group">
  {{# call_to_action_buttons_disabled}}
  <{{type}} {{href}}="{{link}}" class="call-to-action__item call-to-action__item--{{ styleModifier}}" data-state="disabled">{{message}}</{{type}}>
  {{/ call_to_action_buttons_disabled}}
</div>
