
  <div class="call-to-action">
    <{{anchor_button}} href="#" class="call-to-action__item call-to-action__item{{ styleModifier}}" data-call-to-action-state="disabled">Call to action</{{anchor_button}}>

    <{{button}} class="call-to-action__item call-to-action__item{{ styleModifier}}" data-call-to-action-state="disabled">Call to action</{{button}}>
  </div>
