<div class="call-to-action">
  <a href="#" class="call-to-action__item call-to-action__item{{ styleModifier}}" data-call-to-action-state="disabled">Call to action</a>

  <button class="call-to-action__item call-to-action__item{{ styleModifier}}" data-call-to-action-state="disabled">Call to action</button>
</div>
