<div class="call-to-action">
  <a href="#" class="call-to-action__item-secondary call-to-action__item-secondary{{ styleModifier}}">Call to action</a>
  <button class="call-to-action__item-secondary call-to-action__item-secondary{{ styleModifier}}">Call to action</button>
</div>
