
<div class="call-to-action">
  <{{anchor_button}} href="#" class="call-to-action__item-secondary call-to-action__item-secondary{{ styleModifier}}">Call to action</{{anchor_button}}>
  <{{button}} class="call-to-action__item-secondary call-to-action__item-secondary{{ styleModifier}}">Call to action</{{button}}>
</div>
