
  <div class="call-to-action">
    <{{anchor_button}} href="#" class="call-to-action__item-text call-to-action__item-text{{ styleModifier}}">Call to action</{{anchor_button}}>
    <{{anchor_button}} href="#" class="call-to-action__item-text call-to-action__item-text--upper call-to-action__item-text{{ styleModifier}}">Call to action</{{anchor_button}}>
  </div>
