<div class="call-to-action">
  <a href="#" class="call-to-action__item-text call-to-action__item-text{{ styleModifier}}">Call to action</a>
  <a href="#" class="call-to-action__item-text call-to-action__item-text--heading call-to-action__item-text{{ styleModifier}}">Call to action</a>
</div>
