<div class="pattern-group">
{{# call_to_action_text_buttons}}
<{{type}} {{href}}="{{link}}" class="call-to-action__item-text call-to-action__item-text--{{ styleModifier}}">{{name}}</{{type}}>
{{/ call_to_action_text_buttons}}
</div>
