<h3 class="heading heading--large">Language List - Example One</h3>
{{# languagesVerticalBlock}}
<div class="languages">
<ul class="language-list language-list--vertical">
{{# languageList}}
  <li class="language-list__item">
    {{language}}
  </li>
{{/ languageList}}
</ul>
</div>
{{/ languagesVerticalBlock}}
