/**
* Include this on MODULES/_M-LANGUAGE-DROPDOWN
*/

.languages__bar {
  width: 50%;
}

.language-list--dropdown {
  .language-list__item {
    @media screen and (min-width: 535px) {
      padding-left: 135px;
    }
  }
}


/**
* Include this on STATE/_S-LANGUAGE-DROPDOWN
*/

.language-select__toggle-input {
  visibility: hidden;
  position: absolute;
  display: none;
}
.language-select__toggle-input:not(checked) ~ .language-select {
    display: none;
}
.language-select__toggle-input:checked ~ .language-select {
    display: block;
}

.languages-current {
  padding: 5px 20px 5px 0;
  display: inline-block;
}
.languages-current__label {
  font-weight: bold;
  &:after {
    content: ":";
  }
}
.language-select__change-label {
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
}
.language-select {
  padding: 5px 10px;
}

.language-list__item--active a {
  text-decoration: underline;
  &:after {
    text-decoration: none;
  }
}
