
<div class="pattern-group">
{{# languagesHorizontalBlock}}
<div class="languages">
<ul class="language-list language-list--horizontal">
{{# languageList}}
  <li class="language-list__item">
    {{language}}
  </li>
{{/ languageList}}
</ul>
</div>
{{/ languagesHorizontalBlock}}
</div>
