
<h3 class="heading heading--large">Language List - Example Two</h3>
{{# languagesHorizontalBlock}}
<div class="languages">
<ul class="language-list language-list--horizontal">
{{# languageList}}
  <li class="language-list__item">
    {{language}}
  </li>
{{/ languageList}}
</ul>
</div>
{{/ languagesHorizontalBlock}}
