<div class="pattern-group">
<div class="footer">
  <ul class="footer-menu-list">
    {{# footerNavList}}
      <li class="footer-menu-list__item">
          <a href="{{link.href}}" class="footer-menu-list__anchor">{{link.name}}</a>
      </li>
    {{/ footerNavList}}
  </ul>
  <p class="footer__copyright">{{copyright}}</p>
</div>
</div>
