{{# orderedListBlock}}
  <ul class="default-ordered-list">
    {{# orderedList}}
    <li class="default-ordered-list__item">
      <p>{{text}}</p>
    </li>
    {{/ orderedList}}
  </ul>
{{/ orderedListBlock}}

{{# unorderedListBlock}}
  <ol class="default-unordered-list__item">
    {{# unorderedList}}
    <li class="default-unordered-list__item">
      <p>{{text}}</p>
    </li>
    {{/ unorderedList}}
  </ol>
{{/ unorderedListBlock}}
