{{# articleImage }}
  <h2 class="heading heading-subtitle">{{articleImage.title}}</h2>
  <a href="#" class="article__image--link">
    <img class="article__image" src="{{articleImage.img.landscape-16x9.src}}" alt="{{articleImage.img.landscape-16x9.alt}}">
  </a>
{{/ articleImage }}

<br/><br/>
{{# articleListImage }}
  <h2 class="heading heading-subtitle">{{articleListImage.title}}</h2>
  <a href="#" class="article-list__image--link">
    <img class="article-list__image" src="{{articleListImage.img.landscape-16x9.src}}" alt="{{articleListImage.img.landscape-16x9.alt}}">
  </a>
{{/ articleListImage }}

<br/><br/>
{{# articleListImageThumb }}
  <h2 class="heading heading-subtitle">{{articleListImageThumb.title}}</h2>
  <a href="#" class="article__image--link">
    <img class="article__image--thumb" src="{{articleListImageThumb.img.article-thumb.src}}" alt="{{articleListImageThumb.img.article-thumb.alt}}">
  </a>
{{/ articleListImageThumb }}
