{{# largeImage }}
  <a href="#" class="article__image--link">
    <img class="article__image" src="{{img.landscape-16x9.src}}" alt="{{img.landscape-16x9.alt}}" data-image-type="{{img.landscape-16x9.type}}">
  </a>
{{/ largeImage }}
