{{# thumbnailImage }}
  <a href="#" class="article__image--link">
    <img class="article__image article__image--thumbnail" src="{{img.article-thumb.src}}" alt="{{img.article-thumb.alt}}" data-image-type="{{img.article-thumb.type}}">
  </a>
{{/ thumbnailImage }}
