
.default-unordered-list {
  list-style: disc;
  padding-left: 20px;
  .default-ordered-list__item {
    padding: 5px 0;
    list-style: disc;
  }
}

.default-ordered-list {
  .default-ordered-list__item {
    list-style: decimal;
    padding: 5px 0;
  }
}
