.call-to-action__item-text {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  padding: 10px;
  margin: 10px 0;
  color: #000;
  display: block;

  font-weight: 700;
  text-align: left;
  text-decoration: underline;
}

.call-to-action__item-text--heading {
  text-transform: uppercase;
  font-weight: bold;
}

[data-call-to-action-dir~="right"],
[data-call-to-action-dir~="left"] {
    &:after {
      color: #000;
    }
}

[data-call-to-action-dir~="right"]  {
  &:after {
    display: inline-block;
    padding-left: 10px;
    text-decoration: none !important;
    @media only screen and (min-width: 320px) {
      content: ">";
    }
    @media only screen and (min-width: 490px) {
      content: "❯";
    }
  }
}

[data-call-to-action-dir~="left"]  {
  &:before {
    display: inline-block;
    padding-right: 10px;
    text-decoration: none !important;
    @media only screen and (min-width: 320px) {
      content: "<";
    }
    @media only screen and (min-width: 490px) {
       content: "❮";
    }
  }
}
